__pycache__
.ipynb_checkpoints
.DS_Store

.vscode
*.code-workspace
*.pkl
*.swp
*.zip

cloud/chromedriver*
cloud/webscrape*.sh
cloud/webscrape_inputs*.txt
cloud/webscrape_results.html
other/bookmarks_manager.csv
other/bookmarks_manager.sh
plotting/sample*
plotting/wireframe.svg
remote/remote_host_test*
remote/google_drive.sh
remote/google_sheets.sh
web_examples/

