__pycache__
.ipynb_checkpoints
.DS_Store

.vscode
*.code-workspace
*.pkl
*.swp
*.zip

databases.json
google_sheets_bookmarks.json

cloud/chromedriver*
cloud/webscrape*.sh
cloud/webscrape_inputs*.txt
cloud/webscrape_results.html
finance/s*.json
machine-learning/kaggle/leaderboard.sh
other/bookmarks_manager.csv
other/bookmarks_manager.sh
other/*bookmarks.csv
other/*Bookmarks.html
plotting/sample*
plotting/wireframe.svg
remote/remote_host_test*
remote/remote_host.sh
remote/google_drive.sh
remote/google_sheets.sh
web_examples/

